/* ==========================================================================
   Display table
   ==========================================================================*/

.display-table th, td {
  border: 1px solid var(--brown_pale);
  padding: .3rem;
  text-align: left;
  vertical-align: top;
}

