/* ==========================================================================
   Share links
   ==========================================================================*/

.share {
  display: flex;
}

.share > * {
  margin-right: 0.5rem;
}

/* Share in aside */
.share--aside .share .icon__figure {
  color: var(--brown_pale);
}

/* Share in blog template */
.share--blog .share .icon__figure {
  color: var(--red);
}

.share .icon__figure:hover {
  color: var(--green);
}

