<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "metahead.html" . }}
<body>
  {{ partial "header.html" . }}
  <div style="text-align:center;">
    <h1>This site has moved to <a href="https://www.natureworks.org.uk/">natureworks.org.uk</a>!</h1>
    <p>You will be redirected shortly 🙂</p>
  </div>
  {{ block "main" . }}
  {{ end }}
  {{ partial "aside.html" . }}
  {{ partial "footer.html" . }}
{{ with .Params.gallery }}
  <link rel="stylesheet" href="/assets/photoswipe/photoswipe.css">
  <link rel="stylesheet" href="/assets/photoswipe/default-skin/default-skin.css">
  {{ partial "photoswipe.html" . }}
  <script src="/assets/photoswipe/photoswipe-ui-default.min.js"></script>
  <script src="/assets/photoswipe/photoswipe.min.js"></script>
  <script src="/assets/photoswipe/initialize.js"></script>
{{ end }}
  <script src="/assets/app.js"></script>
</body>
</html>
