/* ==========================================================================
   Social links
   ==========================================================================*/

.social__list {
  display: flex;
  justify-content: center;
}

.social__list > * {
  margin: 0 .5rem;
}

.social__list a:link,
.social__list a:visited {
  color: white;
  text-decoration: none;
}

.social__list a:hover,
.social__list a:active {
  text-decoration: underline;
}
