/* ==========================================================================
   Nav
   ==========================================================================*/

.nav {
  font-family: Montserrat, sans-serif;
  font-size: .875rem;
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  justify-content: center;
}

.nav__list > * {
  margin: 0 0.5rem;
}

/* nav links */

.nav a {
  line-height: 2rem;
  padding: 0 .25rem .25rem;
}

.nav a:link,
.nav a:visited {
  color: var(--grey_head);
  text-decoration: none;
}

.nav a:hover,
.nav a:active {
  border-bottom: 2px solid var(--green);
  color: var(--green);
  text-decoration: none;
}

.nav .is-active {
  border-bottom: 2px solid var(--green);
}

.nav .is-active:hover,
.nav .is-active:active {
  color: var(--grey_head);
  cursor: default;
}
