/* ==========================================================================
   Nav
   ==========================================================================*/

.nav__list {
  display: flex;
  justify-content: center;
}

.nav__list > * {
  margin: 0 0.5rem;
}

.nav a {
  line-height: 2rem;
  padding: 0 .25rem .25rem;
}

.nav a:link,
.nav a:visited {
  color: var(--grey_head);
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 2px solid var(--green);
  color: var(--orange);
  text-decoration: none;
}

.nav .is-active {
  border-bottom: 2px solid var(--green);
}
