/* ==========================================================================
   Nav secondary
   ==========================================================================*/

.navsec {
  font-family: Montserrat, sans-serif;
  font-size: .875rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.navsec__wrap {
  border-bottom: 2px solid var(--brown_pale);
  margin-bottom: 1rem;
  padding-top: 0.25rem;
}

.navsec__list {
  display: flex;
  justify-content: center;
}

.navsec__list > * {
  margin: 0 0.5rem;
}

/* nav links */

.navsec .navsec__list a {
  line-height: 2rem;
  padding: 0 .25rem .25rem;
}

.navsec .navsec__list a:link,
.navsec .navsec__list a:visited {
  color: white;
  text-decoration: none;
}

.navsec .navsec__list a:hover,
.navsec .navsec__list a:active {
  border-bottom: 2px solid var(--green);
  color: var(--green_pale);
  text-decoration: none;
}

.navsec .is-active {
  border-bottom: 2px solid var(--green_pale);
}

.navsec .is-active:hover,
.navsec .is-active:active {
  color: white;
  cursor: default;
}
