/* ==========================================================================
   Breakout grid
   ==========================================================================*/

/**
 * Grid that enables breakout of full bleed images
 */

.breakout {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 40em) [main-end]
    minmax(1em, 1fr) [full-end];
}

.breakout > * {
  grid-column: main;
}

.breakout > figure {
  grid-column: full;
}

/* Unset breakout grid */
@media (min-width: 46em) {
  .breakout {
    display: block;
  }

  main, aside {
    margin: 0 auto;
    max-width: 46em;
  }

}
