/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  background-color: var(--brown_choc);
  color: white;
}

.footer__menu {
  background-color: var(--brown);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
