/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  background-color: var(--brown_choc);
  color: white;
}

.footer__menu {
  background-color: var(--brown);
}
