/* ==========================================================================
   Article
   ========================================================================== */

.blog .article__time {
  color: var(--green_mid);
  display: block;
  font-family: Montserrat, sans-serif;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

@media (min-width: 46em) {
  .blog .article__time {
    font-size: 1.25rem;
  }
}

.article__summary {
  font-size: 1.1rem;
}

.article__tags {
  font-style: italic;
  margin-bottom: 1rem;
}
