{{ define "main" }}
  <main class="breakout">
    <h2>Forest garden tour</h2>
    <p>Set in the beautiful Ceri valley, a tour of a garden where growing food is less work than a vegetable patch, that’s better for biodiversity and more beautiful to boot. Two hour tour, available from April—September via <a href="https://www.airbnb.co.uk/experiences/532342">Airbnb</a>.</p>
    <a href="https://www.airbnb.co.uk/experiences/532342" class="button">Book tour</a>
    <h2>Forest garden workshop</h2>
    <p>Learn how to create your own forest garden with this in-depth, practical and hands-on all-day session. Six hour workshop, available from April—September via <a href="https://www.airbnb.co.uk/experiences/524767">Airbnb</a>.</p>
    <a href="https://www.airbnb.co.uk/experiences/524767" class="button">Book workshop</a>

    {{ .Content }}
  </main>
{{ end }}
