{{ define "main" }}
  <main class="breakout u-cf">
    <div class="cta">
      <h2>Wildlife & forest garden design</h2>
      <blockquote>
        A forest garden is like a wildlife orchard underplanted with edible shrubs and perennial vegetables. It is productive, sustainable and low maintenance.
      </blockquote>
      <p></p>
      <p>I design forest gardens for clients with small gardens or acres, always with an eye to providing wildlife habitat, and food enough for everyone. I can also implement design if the garden is relatively local.</p>
      <p>I also offer a remote design service, using satellite photos, video calls and other technological delights. Prices from £100 for a satellite CAD plan, through to full planting plan with sketches.</p>
      <div class="cta__btnbox">
        <img src="https://res.cloudinary.com/growdigital/image/upload/w_640,q_70/v1570787078/greenroomn-pencil-sketch-colorised.jpg" alt="Colourised sketch of town forest garden design">
        <a class="button cta__btn" href="tel:{{ .Site.Params.tel }}" rel="me">Phone me!</a>
      </div>
    </div>
    <img src="https://res.cloudinary.com/growdigital/image/upload/w_760,q_70/v1570785798/greenroom-cad-screenshot-satellite.jpg" alt="Screenshot of forest garden design in CAD" style="margin: 10px 0;">
    {{ .Content }}
  </main>
{{ end }}
