{{ define "main" }}
  <main class="breakout u-cf">
    <div class="card__container">
      <div class="card">
        <h2 class="card__heading"><a href="/design/">Design</a></h2>
        <a href="/design/"><img src="https://res.cloudinary.com/growdigital/image/upload/w_760,h_428/v1580734226/greenroom-plainplan-hue.png" alt="Dark CAD garden plan"></a>
        <p class="card__copy">I can help you transform your garden into a productive wildlife haven, either on-site or remotely.
      </div>
      <div class="card">
        <h2 class="card__heading"><a href="/about/">Beauty</a></h2>
        <a href="/about/"><img src="https://res.cloudinary.com/growdigital/image/upload/w_760,h_428,q_70/v1573476908/hoverfly-169-E5ECB490.jpg" alt="Hoverfly on small white flower"></a>
        <p class="card__copy">It is vital that productive, wildlife gardens are <strong>beautiful</strong>, to encourage wildlife <em>and</em> humans.</p>
      </div>
      <div class="card">
        <h2 class="card__heading"><a href="/course/">Course</a></h2>
        <a href="/course/"><img src="https://res.cloudinary.com/growdigital/image/upload/w_760,h_428,q_70/v1580733726/fgw-course-jakeface.jpg"></a>
        <p class="card__copy">Online course on hold. In the meantime, <a href="/newsletter">sign up</a> for the newsletter.</p>
      </div>
    </div>
    <h2>Wildlife forest garden design</h2>
    <div class="cta">
      <p style="font-size:larger;">A <a href="/definition/">forest garden</a> works <em>with</em> nature to grow edible crops, a place for wildlife and a naturalistic style. My work focusses on the aesthetic combination of native and productive plants.</p><br>
      <div class="cta__btnbox">
        <a href="/design/"><img src="https://res.cloudinary.com/growdigital/image/upload/f_auto,q_70,w_736/v1543954134/quince-blossom-41405332295.jpg" alt="Screenshot of screenscast"></a>
        <a class="button cta__btn" href="/design/">Design</a>
      </div>
    </div>

    <h2>Lockdown Livestream Wednesdays 10am BST</h2>
    <div class="cta">
      <div class="cta__btnbox">
        <a href="https://www.twitch.com/forestgardenwales"><img src="https://res.cloudinary.com/growdigital/image/upload/f_auto,q_70,w_736/v1591224647/introducing.jpg" alt="Screenshot of screenscast"></a>
        <a class="button cta__btn" href="https://www.twitch.com/forestgardenwales">Livestream</a>
      </div>
      <p>For 8 weeks in 2020, I am livestreaming a <strong>free preview</strong> of my complete online course on <strong><a href="https://www.twitch.com/forestgardenwales">Twitch</a>, Wednesdays 10am BST</strong>. Each week, I will <a href="https://www.youtube.com/playlist?list=PL3tnDlJcXMk86gFClHhePDh5GqvMYGARo">save the videos</a> to my <a href="https://www.youtube.com/channel/UCKXKUlYUniJwEy1Lkvs78qw">YouTube channel</a>.</p>
      <p><strong><a href="https://www.twitch.com/forestgardenwales">Next livestream</a></strong>: ‘4. Protecting the Backyard Forest’ plus <strong><a href="https://us04web.zoom.us/j/78438178121?pwd=cGVkMEhXcXNmU3dKekhiek5oWGhIQT09">Zoom Q&A</a></strong> at 10.40am BST, password <code>hopniss57</code></p>
      <p><a href="https://www.forestgarden.wales/blog/forest-garden-course-livestreamed-free-over-8-weeks/"><strong>Full details here.</strong></a></p>
      
    </div>

    <!-- <h2>Free ‘Make a Forest Garden Plan’ mini-course</h2>
    <div class="cta">
      <div class="cta__btnbox">
        <a href="https://forestgardenwales.teachable.com/p/make-forest-garden-plan"><img src="https://res.cloudinary.com/growdigital/image/upload/v1576678567/screenshot-191218.jpg" alt="Screenshot of screenscast"></a>
      </div><br><br>
      <ul>
        <li>Choosing the scale for a paper plan</li>
        <li>Using satellite photo for a CAD plan</li>
        <li>Measuring techniques, incl. triangulation</li>
        <li>Which observations to record when surveying your site</li>
      </ul>
      <p><strong>Enrolment is on pause</strong>. Please get in touch <a href="mailto:hello@forestgarden.wales">hello@forestgarden.wales</a> to put your name on the waiting list 🙂.</p>
    </div> -->
    {{ .Content }}
  </main>
{{ end }}
