<aside class="breakout" role="complementary">
  <section>
    <div class="share--aside">
      {{ partial "share.html" . }}
    </div>
  </section>
  <section>
    <h3><a href="/blog/">Blog posts</a></h3>
    <ul>
      {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
      <li>
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
  <section>
    <h3><a href="/status/">Status updates</a></h3>
    <ul>
      {{ range first 4 (where .Site.RegularPages "Section" "status") }}
      <li>
        <a href="{{ .Permalink }}">
          {{ substr (.Content | plainify | htmlUnescape | markdownify ) 0 40 }}…
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
  <section>
    <h3><abbr title="Rich Site Summary">RSS</abbr> feeds</h3>
    <ul>
      <li><a href="{{ .Permalink }}blog/index.xml" title="News feed for full blog posts, open in RSS news reader"><strong>Blog feed</strong></a>, for newsreaders</li>
      <li><a href="{{ .Permalink }}index.xml" title="Feed for all posts, blog &amp; status"><strong>News feed</strong></a>, summary of all posts</li>
    </ul>
  </section>
  <section>
     <h3>Newsletter</h3>
     <p>Subscribe for news, course updates & special offers</p>
     <form class="subscribe" style="flex-wrap: wrap;" action="https://wales.us17.list-manage.com/subscribe/post" method="POST">
      <input type="hidden" name="u" value="bef914615b5448ad5636c38fb">
      <input type="hidden" name="id" value="10e50a6c17">
      <label for="MERGE0">Email</label>
      <input class="subscribe__textinput" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value=""><br>
      <input class="button" type="submit" name="submit" value="Subscribe">
      <input type="hidden" name="ht" value="72fb9d19eda695ba45e6107c0063acd2bfd6a81b:MTU0OTIzMTE4Mi45MDk4">
      <input type="hidden" name="mc_signupsource" value="hosted">
      <!-- <label class="u-small" for="mce-group[9644]-9644-0"><i>Check box to receive updates on livestreaming episodes</i> <input type="checkbox" value="1" name="group[9644][1]" id="mce-group[9644]-9644-0"></label> -->
     </form>
   </section>
</aside>

