{{ $urlencoded := .Permalink}}
{{ $urlencoded = replace $urlencoded ":" "%3A" }}
{{ $urlencoded = replace $urlencoded "/" "%2F" }}
<aside class="breakout" role="complementary">
  <section>
    <ol class="o-list-bare share icons">
      <li>
        <h3>Share</h3>
      </li>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ .Title}}&via={{ .Site.Params.twitter }}&hashtags=ForestGarden&url={{ $urlencoded | safeURL }}" aria-label="Share on Twitter" title="Share on Twitter" target="blank">
          <figure class="icon__figure">
            <svg class="icon icon--footer icon--twitter" aria-hidden="true">
              <use xlink:href="#icon-twitter" />
            </svg>
            <figcaption class="icon__caption u-js-hiddenvisually">Twitter</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer.php?u={{ $urlencoded | safeURL }}" aria-label="Share on Facebook" title="Share on Facebook" target="blank">
          <figure class="icon__figure">
            <svg class="icon icon--footer icon--facebook" aria-hidden="true">
              <use xlink:href="#icon-facebook" />
            </svg>
            <figcaption class="icon__caption u-js-hiddenvisually">Facebook</figcaption>
          </figure>
        </a>
      </li>
    </ol>
  </section>
  <section>
    <h3><a href="/blog/">Blog posts</a></h3>
    <ul>
      {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
      <li>
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
  <section>
    <h3><a href="/status/">Status updates</a></h3>
    <ul>
      {{ range first 4 (where .Site.RegularPages "Section" "status") }}
      <li>
        <a href="{{ .Permalink }}">
          {{ substr (.Content | plainify | htmlUnescape | markdownify ) 0 40 }}…
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
  <section>
    <h3><abbr title="Rich Site Summary">RSS</abbr> feeds</h3>
    <ul>
      <li><a href="{{ .Permalink }}blog/index.xml" title="News feed for full blog posts, open in RSS news reader"><strong>Blog feed</strong></a>, for newsreaders</li>
      <li><a href="{{ .Permalink }}index.xml" title="Feed for all posts, blog &amp; status"><strong>News feed</strong></a>, summary of all posts</li>
    </ul>
  </section>
</aside>
