<footer class="footer" id="footer" role="contentinfo">
  <section class="footer__menu">
    <div class="navsec__wrap">
      <nav class="navsec">
        {{ $currentPage := . }}
        <ul class="o-list-bare navsec__list">
          {{- range .Site.Menus.secondary -}}
          <li><a class="{{ if or ($currentPage.IsMenuCurrent " secondary " .) ($currentPage.HasMenuCurrent "secondary" .) }}is-active{{ end }}"
              href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="social">
      <h2 class="u-hiddenvisually">Social</h2>
      <ol class="o-list-bare social__list">
        <li>
          <a href="https://twitter.com/{{ .Site.Params.twitter }}" aria-label="Twitter" title="Twitter" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--footer icon--twitter" aria-hidden="true">
                <use xlink:href="#icon-twitter" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Twitter</figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/{{ .Site.Params.facebook }}" aria-label="Facebook" title="Facebook" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--footer icon--facebook" aria-hidden="true">
                <use xlink:href="#icon-facebook" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Facebook</figcaption>
            </figure>
          </a>
        </li>
        <!-- <li>
          <a href="https://{{ .Site.Params.wordpress }}.wordpress.com/" aria-label="Wordpress" title="Wordpress" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--footer icon--wordpress" aria-hidden="true">
                <use xlink:href="#icon-wordpress" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Wordpress</figcaption>
            </figure>
          </a>
        </li> -->
        <li>
          <a href="https://www.tripadvisor.co.uk/{{ .Site.Params.tripadvisor }}" aria-label="TripAdvisor" title="TripAdvisor" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--footer icon--tripadvisor" aria-hidden="true">
                <use xlink:href="#icon-tripadvisor" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">TripAdvisor</figcaption>
            </figure>
          </a>
        </li>
        <!-- <li>
          <a href="https://www.airbnb.co.uk/s/experiences?query=forest%20garden%2C%20wales&refinement_paths%5B%5D=%2Fexperiences" aria-label="Airbnb" title="Airbnb">
            <figure class="icon__figure">
              <svg class="icon icon--footer icon--airbnb" aria-hidden="true">
                <use xlink:href="#icon-airbnb" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">TripAdvisor</figcaption>
            </figure>
          </a>
        </li> -->
        <!-- <li>
          <a href="https://www.pinterest.co.uk/{{ .Site.Params.pinterest }}" aria-label="Pinterest" title="Pinterest" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--footer icon--pinterest" aria-hidden="true">
                <use xlink:href="#icon-pinterest" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Pinterest</figcaption>
            </figure>
          </a>
        </li> -->
        <!-- <li>
          <a href="https://plus.google.com/{{ .Site.Params.googleplus }}" aria-label="Google+"title="Google+" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--footer icon--google" aria-hidden="true">
                <use xlink:href="#icon-google" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Google+</figcaption>
            </figure>
          </a>
        </li> -->
      </ol>
    </div>
    <div class="footer__contact">
      <h2 class="u-hiddenvisually">Contact</h2>
      <ol class="o-list-bare u-center">
        <li>Email: <a href="mailto:{{ .Site.Params.email }}" rel="me">{{ .Site.Params.email }}</a></li>
        <li>Phone: <a href="tel:{{ .Site.Params.tel }}" rel="me">07398 474 064</a></li>
      </ol>
    </div>
    <div class="rss">
      <h2 class="u-hiddenvisually">RSS</h2>
      <ol class="o-list-bare rss__list u-flexcenter">
        <li>
          <a href="{{ .Permalink }}blog/index.xml">
            <figure class="icon__figure u-flexcenter">
              <svg class="icon icon--footer icon--rss" aria-hidden="true">
                <use xlink:href="#icon-rss" />
              </svg>
              <figcaption title="Whole blog post feed for news readers">Blog feed</figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="{{ .Permalink }}/index.xml">
            <figure class="icon__figure u-flexcenter">
              <svg class="icon icon--footer icon--rss" aria-hidden="true">
                <use xlink:href="#icon-rss" />
              </svg>
              <figcaption title="All status updates and blog posts in concise format">News feed</figcaption>
            </figure>
          </a>
        </li>
      </ol>
    </div>
  </section>

</footer>
