<footer class="footer" id="footer" role="contentinfo">
  <section class="footer__menu">
    <div class="navsec__wrap">
      <nav class="navsec">
        {{ $currentPage := . }}
        <ul class="o-list-bare navsec__list">
          {{- range .Site.Menus.secondary -}}
          <li><a class="{{ if or ($currentPage.IsMenuCurrent " secondary " .) ($currentPage.HasMenuCurrent "secondary" .) }}is-active{{ end }}"
              href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="social">
      <h2 class="u-hiddenvisually">Social</h2>
      <ol class="o-list-bare social__list">
        <li>
          <a href="https://twitter.com/{{ .Site.Params.twitter }}" aria-label="Twitter" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--twitter" aria-hidden="true">
                <use xlink:href="#icon-twitter" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Twitter</figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/{{ .Site.Params.facebook }}" aria-label="Facebook" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--facebook" aria-hidden="true">
                <use xlink:href="#icon-facebook" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Facebook</figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="https://{{ .Site.Params.wordpress }}.wordpress.com/" aria-label="Wordpress" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--wordpress" aria-hidden="true">
                <use xlink:href="#icon-wordpress" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Wordpress</figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="https://www.tripadvisor.co.uk/{{ .Site.Params.tripadvisor }}" aria-label="TripAdvisor" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--tripadvisor" aria-hidden="true">
                <use xlink:href="#icon-tripadvisor" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">TripAdvisor</figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="https://www.pinterest.co.uk/{{ .Site.Params.pinterest }}" aria-label="Pinterest" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--pinterest" aria-hidden="true">
                <use xlink:href="#icon-pinterest" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Pinterest</figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/{{ .Site.Params.googleplus }}" aria-label="Google+" rel="me">
            <figure class="icon__figure">
              <svg class="icon icon--google" aria-hidden="true">
                <use xlink:href="#icon-google" />
              </svg>
              <figcaption class="icon__caption u-js-hiddenvisually">Google+</figcaption>
            </figure>
          </a>
        </li>
      </ol>
    </div>
  </section>
  <section class="contact">
    <h2>Contact</h2>
    <ol class="o-list-bare">
      <li>Telephone: <a href="tel:{{ .Site.Params.tel }}" rel="me">{{ .Site.Params.tel }}</a></li>
      <li>Email: <a href="mailto:{{ .Site.Params.email }}" rel="me">{{ .Site.Params.email }}</a></li>
    </ol>
  </section>
  <section class="credit">
    <p>
      <small>Built by
        <a href="https://www.growdigital.org/">Jake Rayson</a> with
        <a href="https://gohugo.io/">Hugo</a>, deployed by
        <a href="https://www.netlify.com/">Netlify</a>
      </small>
    </p>
    <p>
      <small>&copy; Jake Rayson 2017-18, license
        <a href="https://choosealicense.com/licenses/mit/">MIT</a> &amp;
        <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3</a>
      </small>
    </p>
  </section>
  <section class="smallprint">

  </section>
</footer>
