<header class="header" role="banner">
  <div class="h-card">
    <a href="/" title="Link to home page">
      <img class="u-photo header__logo" src="/assets/img/logo.svg" alt="{{ .Site.Title }} logo">
    </a>
    {{- if .IsHome -}}
      <h1 class="header__h1"><a class="p-org u-url" rel="me" href="/" title="Link to home page">{{ .Site.Title }}</a></h1>
    {{- else -}}
      <h2 class="header__h1"><a class="p-org u-url" rel="me" href="/" title="Link to home page">{{ .Site.Title }}</a></h2>
    {{- end -}}
    <h3 class="p-note u-hiddenvisually">{{ .Site.Params.Description }}</h3>
  </div>
  <nav class="nav">
    {{ $currentPage := . }}
    <ol class="o-list-bare">
      {{ range .Site.Menus.main }}
      <li>
        <a class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}is-active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ol>
  </nav>
</header>
