<head>
  <meta charset="UTF-8">
  <title>
    {{- if eq .Kind "home" -}}
      {{ .Site.Title }}
    {{- else if .Params.menu -}}
      {{ .Site.Title }}:&nbsp;{{- .Title -}}
    {{- else if eq .Type "status" -}}
      {{- substr (.Content | plainify | htmlUnescape | markdownify) 0 30 -}}…
    {{- else -}}
      {{- .Title -}}
    {{- end -}}
  </title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/app.css">
  {{- partial "matomo.html" . -}}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>
