<!-- Schema.org markup for Google+ -->
<meta itemprop="headline" content="{{ .Title }}">
{{ if eq .Type "status" }}
<meta itemprop="description" content="{{ .Summary }}">
{{ else }}
<meta itemprop="description" content="{{ .Description }}">
{{ end }}
{{ if .Params.images }}
<meta itemprop="image" content="{{ (index .Params.images 0) }}" alt="{{ (index .Params.imageAlt 0) }}">
{{ else }}
<meta itemprop="image" content="{{ .Site.Params.publisherLogo }}" alt="Forest Garden Wales logo showing 3 layers of the forest garden">
{{ end }}
<meta itemprop="author" content="{{ .Site.Author.name }}">
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{ .Site.Params.publisherLogo }}">
    <meta itemprop="width" content="220">
    <meta itemprop="height" content="220">
  </div>
  <meta itemprop="name" content="{{ .Site.Params.publisher }}">
</div>
