/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  /* Colors
     ======================================================================== */

  --blue_sky: #78affc;
  --brown: #635134;
  --brown_choc: #4a3d29;
  --brown_pale: #75613d;
  --green: #6e9c2a;
  --green_pale: #d2e0af;
  --grey_head: #7c7575;
  --grey_text: #4A4A4A;
  --khaki: #555632;
  --orange: #eb4b2d;
  --magnolia: #f6fce6;
  --mag_plus: #eaf0d9;

  /* Base variables, adpated from SUIT CSS
     ======================================================================== */

  --base_font: serif;
  --base_fontsize: 16px;
  --base_lineheight: 1.5;
}
