/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg ._footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

/**
 * list-bare.css example of CSS object in /src/modules/objects/,
 * used in header.html and footer.html
 */

.flex {
  display: flex;
  justify-content: center;
}

.social__list {
  margin-bottom: 1rem;
}

.rss__list > * {
  margin: 0 1rem;
}

.rss .rss__list a,
.rss .rss__list figcaption,
.rss .rss__list a:hover {
  color: white !important;
}
