/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg ._footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

/**
 * list-bare.css example of CSS object in /src/modules/objects/,
 * used in header.html and footer.html
 */

.status h1 {
  font-size: 1.2rem;
}

iframe {
  margin: 1rem 0;
}

figcaption {
  border-bottom: 1px solid var(--green_pale);
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.status figure {
  margin-bottom: 1.5rem;
}

.status .meta {
  margin-top: 1.5rem;
}

/* Default table styling, cos Markdown */

table {
  margin: 1rem 0;
  min-width: 50%;
}

table tr:nth-child(even) {
  background-color: var(--mag_plus);
}

th, td {
  text-align: left;
  border: 0;
}

th {
  background-color: var(--green_mid);
  border-right: 1px solid var(--green_pale);
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  padding: 3px 6px;
  text-transform: uppercase;
}

td {
  border-right: 1px solid var(--magnolia);
}

th:last-child, td:last-child {
  border: 0;
}


