/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg ._footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

/**
 * list-bare.css example of CSS object in /src/modules/objects/,
 * used in header.html and footer.html
 */

/* Form styling */
.subscribe {
  align-items: center;
  display: flex;
}

.subscribe__textinput {
  flex-grow: 2;
}

.subscribe > * {
  margin-right: 0.5rem;
}

input[type=text],
input[type=email] {
  padding: 0.3rem .55rem;
}


/* Author metadata */
.meta {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.meta dt {
  flex-basis: 20%;
  font-style: italic;
}

.meta dd {
  flex-basis: 80%;
  flex-grow: 1;
}

/* Call To Action component */

.cta {
  margin-bottom: 1rem;
}

.cta__btn {
  display: block;
}

@media (min-width: 46em) {
  .cta {
    columns: 2;
  }
  .cta__btnbox {
    position: relative;
  }
  .cta__btn {
    bottom: 0.75rem;
    left: 0.75rem;
    position: absolute;
  }
}

/* Breakpoints */
/*medium: 46em / 736px*/
@media (min-width: 46em) {
  h1 {
    font-size: 2.625rem;
  }
}

.status h1 {
  font-size: 1.2rem;
}

